.comment {
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  align-items: start;
  justify-content: start;
  transition: 300ms;
  margin-bottom: 20px;
  .comment-main {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    .comment-main-text {
      width: 76%;
      height: 100%;
      background-color: green;
      border-radius: 5px;
      #tx1 {
        font-family: shabnam, sans-serif;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: gray;
        padding: 8px 8px;
        border-radius: 5px;
        resize: none;
      }
    }
    .comment-main-input {
      width: 22%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      input {
        padding: 10px 8px;
        width: 100%;
        height: 26%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        font-family: shabnam, sans-serif;
      }
    }
  }
  .comment-privacy {
    width: 100%;
    height: 120px;
    background-color: #f7f8fa;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    input {
      width: 180px;
      height: 43px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      padding: 5px 8px;
      font-family: shabnam, sans-serif;
    }
    i {
      font-size: 25px;
      color: rgba(0, 0, 0, 0.582);
    }
  }
  .comment-button {
    button {
      background-color: #8494ac;
      color: #fff;
      width: 128px;
      height: 45px;
      border: none;
      border-radius: 7px;
      font-family: shabnam, sans-serif;
    }
  }
  .comment-1 {
    width: 100%;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.041);
    margin-top: 10px;
  }
  .comment-nazarat {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 30px;
    font-family: shabnam, sans-serif;
    .comment-nazarat-1 {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 8px;
      h2 {
        font-size: 20px;
      }
      div {
        text-align: center;
        width: 23px;
        height: 23px;
        border: 1px solid rgb(4, 4, 87);
        border-radius: 50%;
      }
    }
    .comment-nazarat-main {
      display: flex;
      flex-flow: column;
      gap: 1px;
      font-family: shabnam, sans-serif;
      .comment-nazarat-main-c {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        i {
          font-size: 20px;
        }
        span:nth-of-type(2) {
          color: gray;
          font-size: 12px;
          font-family: sansNum;
        }
      }
      .comment-nazarat-main-p {
        p {
          color: rgba(0, 0, 0, 0.705);
        }
      }
    }
  }
}
